a{
    margin-top: 50px;
    border: 2px solid black;
    padding: 15px 25px;
    font-size: 50px;
    display: inline-block;
}

/* a:link{
    color: white;
    background-color: red;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: red;
    text-decoration: none;
}

a:hover{
    color: red;
    background-color: blue;
    text-decoration: none;
}


a:active{
    color: red;
    background-color: blue;
    text-decoration: none;
} */

a:link, a:visited {
    
    color: white;
    background-color: red;
    text-decoration: none;
    
}

a:hover, a:active{
    /* color: red; */
    background-color: blue;
    /* text-decoration: none; */
}





